
@{
    ViewBag.Title = "Resources";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 20px; padding: 20px; ">
    <h2>Resources</h2>
    <div class="program-section">
        <h3>Bachelor Programs</h3>
        <ul class="resource-list">
            <li><a href="https://en.wikipedia.org/wiki/Computer_science" target="_blank">B.Sc. Computer Science - Curriculum & Syllabus</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Electrical_engineering" target="_blank">B.Sc. Electrical Engineering - Labs & Projects</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Business" target="_blank">BBA - Case Studies & Business Models</a></li>
        </ul>
    </div>
    <div class="program-section">
        <h3>Master Programs</h3>
        <ul class="resource-list">
            <li><a href="https://en.wikipedia.org/wiki/Artificial_intelligence" target="_blank">M.Sc. Artificial Intelligence - Research Papers</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Data_science" target="_blank">M.Sc. Data Science - Tutorials & Workshops</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Master_of_Business_Administration" target="_blank">MBA - Industry Insights & Webinars</a></li>
        </ul>
    </div>
    <div class="program-section">
        <h3>Ph.D. Programs</h3>
        <ul class="resource-list">
            <li><a href="https://en.wikipedia.org/wiki/Computer_science" target="_blank">Ph.D. in Computer Science - Publications & Grants</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Electrical_engineering" target="_blank">Ph.D. in Electrical Engineering - Conference Proceedings</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Biology" target="_blank">Ph.D. in Biology - Research Databases & Journals</a></li>
        </ul>
    </div>
</div>



