@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/img/GradLink_Theme(3).jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(29, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown">Alumni <br> Networking Platform </h1>
                            <p class="fs-5 text-white mb-4 pb-2">
                                GradLink is designed to bridge the gap between past
                                and present members of our educational community. By facilitating connections among alumni,
                                current students, it opens doors to mentorship, career opportunities, and collaborative
                                growth.
                            </p>
                            <a href="about.html" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/img/GradLink_Theme(2).jpg">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown">Connect <br> Empower & Grow</h1>
                            <p class="fs-5 text-white mb-4 pb-2">
                                Connect - Empower & Grow captures the essence of
                                GradLink’s mission to build meaningful connections among Alumni.
                                Through GradLink, users can strengthen networks, gain mentorship, and access opportunities for
                                personal and professional growth. It’s a community that empowers
                                individuals to thrive and make an impact together.
                            </p>
                            <a href="about.html" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 justify-content-center">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Alumni Legacy</h5>
                        <p>
                            GradLink keeps alumni connected to their institution, empowering
                            them to carry forward its legacy and inspire future generations.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Networking</h5>
                        <p>
                            GradLink connects alumni worldwide, fostering a strong, supportive network that
                            transcends borders and opens doors to global opportunities.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Jobs Board</h5>
                        <p>
                            GradLink provides a dedicated space for alumni and students to access
                            and share job opportunities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/img/GradLink-Mono.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About GradLink</h6>

                <p class="mb-4">
                    GradLink empowers graduates to connect, collaborate, and give back to their academic community.
                    Our platform simplifies engagement, offering streamlined networking, mentorship, and career-building tools
                    that bring alumni together around there goals. With GradLink, you can strengthen connections, advance careers,
                    and contribute to a legacy of support for future generations.
                </p>
                <div>
                    <div>
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Events & Reunions</p>
                    </div>
                    <div>
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Mentorship</p>
                    </div>
                    <div>
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Community Building</p>
                    </div>
                    <div>
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Socialising</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="about.html">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Institution Start -->
<div>
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.6s">
            <h6 class="section-title bg-white text-center text-primary px-3">Institutions</h6>
            <h1 class="mb-5">Our Partner Institutions</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="course-item bg-light">
                    <div>
                        <img class="img-fluid" src="~/img/Kips_logo.jpg" alt="">
                    </div>
                    <div class="text-center p-4 pb-0">
                        <h3 class="mb-0">KIPS</h3>
                        <small class="mb-4">
                            KIPS Education System is one of Pakistan's
                            leading academic networks, offering school education,
                            college programs, and test preparation services. Known for its quality teaching and focus
                            on competitive exams like ECAT and MCAT, KIPS provides
                            a comprehensive curriculum and digital learning options
                            to support students in achieving academic excellence.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.8s">
                <div class="course-item bg-light">
                    <div>
                        <img class="img-fluid" src="~/img/Essex-Logo.jpg" alt="">
                    </div>
                    <div class="text-center p-4 pb-0">
                        <h2 class="mb-0">University Of Essex</h2>
                        <small class="mb-4">
                            The University of Essex is a renowned public research
                            university in England, known for its commitment to academic excellence
                            and social impact. Offering a diverse range of programs across disciplines,
                            Essex is recognized for its research strengths, inclusive campus culture,
                            and a global perspective that attracts students from over 140 countries.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1s">
                <div class="course-item bg-light">
                    <div>
                        <img class="img-fluid" src="~/img/RHUL_Logo.jpg">
                    </div>
                    <div class="text-center p-4 pb-0">
                        <h3 class="mb-0">Royal Holloway</h3>
                        <small class="mb-4">
                            Royal Holloway, University of London, founded in 1879 by Thomas Holloway,
                            began as one of the UK’s first women’s colleges and is now a top public research university.
                            Located in Egham, Surrey, its campus is known for the historic Founder’s
                            Building and offers a blend of traditional and modern facilities. Renowned for strong
                            programs in psychology, arts, humanities  and sciences.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Institution End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div>
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Team</h6>
            <h1 class="mb-5">Behind The GradLink</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div>
                        <img class="img-fluid" src="~/img/team-1.jpg">
                    </div>
                    <div>
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Ammar</h5>
                        <small>Co Founder</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div>
                        <img class="img-fluid" src="~/img/team-2.jpg">
                    </div>
                    <div>
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Olivia</h5>
                        <small>Cheif Technical Officer</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div>
                        <img class="img-fluid" src="~/img/team-3.jpg">
                    </div>
                    <div>
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Alex</h5>
                        <small>Assistant CTO</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="~/img/team-4.jpg">
                    </div>
                    <div>
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Sophia</h5>
                        <small>Senior Assistant Developer</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div>
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
            <h1 class="mb-5">Our Students Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="~/img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Jemica</h5>
                <p>University of Essex</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">
                        GradLink has been an amazing tool for reconnecting with old classmates
                        and finding mentors in my field. The community is so supportive, and the job postings are a great bonus!
                    </p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="~/img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Harry</h5>
                <p>KIPS</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">
                        As a recent graduate, I felt lost about career options until I joined GradLink.
                        The platform helped me connect with alumni who provided valuable advice and even helped me land an internship!
                    </p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="~/img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Jordan</h5>
                <p>Royal Holloway</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">
                        GradLink has been a fantastic resource for both networking and mentorship.
                        It’s comforting to know I have a community I can turn to for guidance and support as I advance in my career.
                    </p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="~/img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Henry</h5>
                <p>Royal Holloway</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">
                        Connecting with alumni through GradLink has been a game-changer! The mentorship opportunities have helped me make
                        well-informed career decisions, and I’ve built lifelong connections along the way.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->